@*@{
        Layout = "_AdminLayout";
    }
*@
@*@{
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }*@
<!--<a href="~/Areas/Admin/Views/Shared/_Layout.cshtml">~/Areas/Admin/Views/Shared/_Layout.cshtml</a>-->
@{
    Layout = "_AdminLayout";
}